---
import MyComponent from '../components/MyComponent';
import Layout from '../layouts/Layout.astro';
---
<Layout title="category">
  <h1>Category page</h1>
  <MyComponent client:only/>
  <p>This is the about page.</p>
</Layout>
